  <div class="details">
    <div class="detail id">
      <span>ID:</span> {{@device.id}}
    </div>
    <div class="detail category">
      <span>Category:</span> {{@device.category}}
    </div>
    <div class="detail controller">
      <span>Controller:</span> {{@device.controller}}
    </div>
    <div class="detail reportLag">
      <span>Report Lag:</span> {{@device.report_lag}}
    </div>
    <div class="detail volts">
      <span>Current Volts:</span> {{@device.volts}}
    </div>
    <div class="detail status">
      <span>Status:</span> {{@device.status}}
    </div>
  </div>