<Jumbo>
  <h2>{{@sensor.name}}</h2>
</Jumbo>

<article class="sensor detailed">
<div class="details">
    <h3>{{@sensor.name}} Details</h3>

    <div class="detail controller">
      <span>Controller:</span> {{@sensor.controller}}
    </div>
    <div class="detail type">
      <span>Category:</span> {{@sensor.category}} – {{@sensor.category}}
    </div>
    <div class="detail controller">
      <span>Today's Data:</span> {{@sensor.data}}
    </div>
    </div>
  <Map
    @lat={{@sensor.location.lat}}
    @lng={{@sensor.location.lng}}
    @zoom="12"
    @width="894"
    @height="600"
    alt="A map of {{@sensor.name}}"
    class="large"
  />
</article>