<Jumbo>
  <h2>{{@device.name}}</h2>
</Jumbo>

<article class="device detailed">
  <h3> Summary </h3>
  <Summary @device={{@device}} />
  <h3> Most Recent Report Data </h3>
  <p> This is the device template coming soon </p>
  <h3> Location </h3>
  <Map
    @lat={{@device.location.lat}}
    @lng={{@device.location.lng}}
    @zoom="12"
    @width="894"
    @height="600"
    alt="A map of {{@device.name}}"
    class="large"
  />
</article>